@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap');
body {
  background-color: #c97375;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
.card {
  border-radius: 10px;
  display: grid;
  place-items: center;
  align-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 5em;
  text-align: center;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.title {
  font-family: 'Great Vibes', cursive;
      font-size: 10em;
}

.date {
  border: white solid 3px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 5em;
  padding: 5px 20px 5px 20px;
}

.photos {
  display: flex;
}
.photo {
  width: 550px;
  height: 450px;
  margin: 15px;
}
.photo:nth-child(2) {
  transition-delay: 200ms;
}
.photo:nth-child(3) {
  transition-delay: 400ms;
}

.text {
  font-size: 3em;
}

.blue {
  background-color: #BDCDD6;
}

.grey {
  background-color: #E6DDC4;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 3em;
  }
  .date {
    font-size: 1.5em;
  }
  .text{
    font-size: 1em;
  }
  .photos {
    display: flex;
    flex-flow: column;
  }

  .photo {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 250px;
  }
}
